<h2>Gestión de Usuarios (Residentes y Administradores)</h2>

<button class="btn btn-success mb-3" routerLink="/main/usuarios/create">
  <i class="bi bi-plus-circle"></i> Agregar nuevo Usuario
</button>

<h3 class="mt-5">Listado de Usuarios Registrados</h3>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre Completo</th>
        <th>Casa</th>
        <th>Rol</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Perfil</th>
        <th>INE</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.usuario_id }}</td>
        <td>{{ usuario.nombre }} {{ usuario.apellido_paterno }}</td>
        <td>{{ usuario.numero_casa }}</td>
        <td>{{ usuario.rol }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.telefono }}</td>
        
        <td>
          <button *ngIf="usuario.documentos?.imagen_perfil_url" 
                  class="btn btn-sm btn-outline-primary"
                  (click)="verImagen(usuario.documentos.imagen_perfil_url, 'Perfil')" 
                  type="button">
            Perfil
          </button>
          <span *ngIf="!usuario.documentos?.imagen_perfil_url">Sin foto</span>
        </td>
        <td>
          <button *ngIf="usuario.documentos?.imagen_ine_url" 
          class="btn btn-sm btn-info text-white"
          (click)="verImagen(usuario.documentos.imagen_ine_url, 'INE')" 
          type="button">
            Ver INE
          </button>
          <span *ngIf="!usuario.documentos?.imagen_ine_url">N/A</span>
        </td>
        
        <td>
          <a [routerLink]="['/main/usuarios', usuario._id]" class="btn btn-sm btn-secondary me-2">
                Ver Detalle
          </a>
          <a [routerLink]="['/main/usuarios', usuario._id, 'edit']" class="btn btn-sm btn-warning me-2">
            Editar
          </a>
          <button class="btn btn-sm btn-danger" (click)="deleteUsuario(usuario._id)">Eliminar</button>
        
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="imagenModalUrl" class="modal d-block" tabindex="-1" role="dialog" (click)="cerrarModal()">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" (click)="$event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">{{ imagenModalTitulo }}</h5>
                <button type="button" class="btn-close btn-close-white" (click)="cerrarModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img [src]="imagenModalUrl" alt="Documento" style="max-width: 100%; height: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>